body {
    font-family: sans-serif;
    background-color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
display: block;
margin: 200;
padding-top: 100;
color: black;
text-align: center;
}